@font-face {
    font-family: 'TAEBAEKmilkyway';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/TAEBAEKmilkyway.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "TAEBAEKmilkyway";
    font-weight: bold;
}

.no-underline {
    text-decoration-line: none;
}

.btn-question {
    order: -1;
    margin-right: auto;
}