<html layout:decorate="~{layout}">
    <div layout:fragment="content" class="container text-center">
        <h2 class="mt-3 mb-3">프로필 페이지</h2>
        <div class="d-flex flex-column text-center">
            <img src="/images/profile.png" class="profile-img rounded mx-auto d-block" alt="...">
            <span th:text="${siteUser.username}"></span>
            <span th:text="${siteUser.email}"></span>
        </div>
        <hr>
        <div class="text-center">
            <a th:href="@{/question/my}" class="btn btn-outline-success w-25">내가 쓴 글</a>
        </div>
    </div>
</html>